<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Text</title>
  </head>
  <body>
    <form action="/analyze" method="POST">
      <textarea
        id="textarea"
        name="text"
        rows="15"
        cols="85 "
        placeholder="Enter text...."
        required
      ></textarea>
      <button type="submit">Analyze text</button>
    </form>
  </body>
</html>

<!-- Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam enim vero voluptatibus adipisci reiciendis dolor amet, repellat in quis. Minus dolores nisi dolor eligendi recusandae, fugit voluptatem pariatur molestias fuga?Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor nisi dolorum odio dolorem quidem sint nesciunt nemo suscipit aspernatur soluta doloribus minima vel culpa, ullam minus ab, repellendus natus. Illum?Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem consequatur sint, enim suscipit fugiat mollitia cupiditate ex in ullam. Impedit esse quas, porro possimus error maiores optio sint quidem sit? -->
<!-- This text is a text for testing purposes! Let's see if it works. -->
