<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Text Analysis</title>
  </head>
  <body>
    <h2>Rezultati od analiza na tekst:</h2>
    <h3>{{text}}</h3>
    <ul>
      <li>Vkupen broj na karakteri: {{totalCharacters}}</li>
      <li>
        Vkupen broj na zborovi pomali od 5 karakteri: {{wordsShorterThanFive}}
      </li>
      <li>
        Vkupen broj na zborovi pogolemi od 5 karakteri: {{wordsLongerThanFive}}
      </li>
      <li>
        Vkupen broj na zborovi ednakvi na 5 karakteri: {{wordsExactlyFive}}
      </li>
      <li>Broj na recenici: {{totalSentences}}</li>
      <li>Broj na zborovi: {{totalWords}}</li>
      <li>
        Broj na zborovi koi pocnuvaat na edna od slednite bukvi: a, e i, o, u:
        {{wordsStartingWithVowel}}
      </li>
    </ul>
  </body>
</html>
